/* This snippet of code was modified from Lab2 */
html {overflow: -moz-scrollbars-vertical;
background: #DFDFDF}

@font-face{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2);
}

body {
    font-family: "Roboto";
	font-size: 14px;
	color: #3C3D3F;
    /*text-align: left;*/

    max-width: 75%;   /* set the body to be 800px long */
    margin: auto;       /* center the app in the middle of the browser window */ 
}

header{
    background: #FFFFFF;
    display:flex;
    flex-direction: row;
    margin-top:15px;
    margin-bottom: 10px;
    justify-content: center;
}

header h1{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top:4px;
    font-size:45px;
    /*align-self: center;*/
}

header img{
    align-self: baseline;
    height: 40px;
}

.block{
    background: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 40px 40px 40px 40px;
}

.header_button{
    height: 64px;
    width: 80px;
    background-position: center;
    background-repeat: no-repeat;
}

.button{
    text-align:center;
    font-size: 15px;
    color:#3C3D3F;
    background: #DFDFDF;
    border: 2px #DFDFDF solid;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.10);
    font-size:15px;
    font-weight:bold;
}

.button:hover{
    background: #c6c6c6;
    border: 2px #c6c6c6 solid;
}

.btn_group{
    display: flex;
    justify-content: space-around;
}

#curr_info{
    text-align: center;
    font-size: 20px;
    margin: 20px 0px 20px 0px;
}

#curr_info h1{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
}

#curr_info p{
    margin: 0;
}

.pic_button{
    font-size: 30px;
    color:#3C3D3F;
    background: white;
    border: 2px white solid;
}

.pic_button:disabled{
    color:#DFDFDF;
}

footer{
    margin-top: 20px;
    text-align:center;
}
